{% extends "base.html.twig" %}
{% block body %}
    <div class="text-center">
        <h1>Demande de contact</h1>
        {{ form_start(formContact)}}
        <div>
            {{ form_label(formContact.nom) }}
        </div>
        <div class="mb-3">
            {{ form_widget(formContact.nom) }}
        </div>
        <div>
            {{ form_label(formContact.prenom) }}
        </div>
         <div class="mb-3">
            {{ form_widget(formContact.prenom) }}
        </div>
        <div>
            {{ form_label(formContact.mail) }}
        </div>
         <div class="mb-3">
            {{ form_widget(formContact.mail) }}
        </div>
        <div>
            {{ form_label(formContact.message) }}
        </div>
         <div class="mb-3">
            {{ form_widget(formContact.message) }}
        </div>
        {{ form_end(formContact) }}
    </div>
{% endblock %}